* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
  color: #212427;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  background-color: #eeeeee;
  padding: 35px;
  text-align: center;
  box-shadow: #eeeeee 0px 0px 7px;
}

ul {
  background-color: #fa7d09;
  border-radius: 0px 0px 10px 10px;
  box-shadow: #fa7d09 0px 0px 7px;
  letter-spacing: 0.3px;
  padding: 30px;
  text-align: center;
}

li {
  display: inline;
  list-style-type: none;
  font-weight: 600;
  padding: 10%;
}

li > a {
  text-decoration: none;
}

.so,
.gaming {
  width: 100%;
  height: 200px;
  margin-top: 55px;
  border-collapse: separate;
  border-spacing: 20px;
  background-color: #eeeeee;
  border-radius: 10px;
}

.soTh,
.gamingTh {
  font-size: 24px;
  text-align: left;
}

.soTd,
.gamingTd {
  background-color: #fa7d09;
  border-radius: 10px;
  box-shadow: #fa7d09 0px 0px 7px;
  padding: 30px 15px;
}

td > p {
  padding-top: 10px;
}

td > svg {
  float: inline-start;
}

#kontakti > h2 {
  padding: 15px 20px 0px 10px;
  color: #eeeeee;
}

#kontakti {
  margin-top: 55px;
  background-color: #212427;
  box-shadow: #212427 0px 0px 7px;
  border-radius: 10px;
}

#kontakti > table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 25px;
}

input {
  width: 350px;
  height: 40px;
}

textarea {
  width: 350px;
  height: 300px;
}

input,
textarea {
  background-color: #eeeeee;
  border-radius: 10px;
  margin: 5px;
  border: none;
  padding: 5px;
}

input::placeholder,
textarea::placeholder {
  color: #a1a1a1;
}

iframe {
  border-radius: 10px;
}

#submitBtn {
  color: #a1a1a1;
  opacity: 0.5;
}

#submitBtn:hover {
  background-color: #fa7d09;
  color: #eeeeee;
  opacity: 1;

  transition: all ease-in-out 0.2s;
}

footer {
  margin: 0 auto;
  margin-top: 65px;
  background-color: #eeeeee;
  padding: 35px;
  text-align: center;
  box-shadow: #eeeeee 0px 0px 7px;
  border-radius: 10px 10px 0px 0px;
}
